# Selenium Web Scraping Assignment-2

### 1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data

1. first get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [2]:
#Importing necessary libraries
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions as EC

import time
driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\Devu\.wdm\drivers\chromedriver\win32\91.0.4472.101\chromedriver.exe] found in cache

In [3]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"

In [4]:
driver=webdriver.Chrome(Path)

In [5]:
my_page=driver.get('https://www.naukri.com/')

In [10]:
insert=driver.find_element_by_xpath("//div[@class='sWrap']/div//input[@class='sugInp']")
insert.send_keys("Data Analyst")

insert1=driver.find_element_by_xpath("//div[2]/div//input[@class='sugInp']")
insert1.send_keys("Bangalore")


insert2=driver.find_element_by_xpath("//div[@class='search-btn']/button")
insert2.click()

In [11]:
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")
company_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
experience_req=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")

print(len(job_title),len(job_location),len(company_name),len(experience_req))

20 20 20 20

In [12]:
Data_Analyst={}
Data_Analyst['Job_Title']=[]
Data_Analyst['Job_Location']=[]
Data_Analyst['Company_Name']=[]
Data_Analyst['Experience_Req']=[]
Data_Analyst

{'Job_Title': [], 'Job_Location': [], 'Company_Name': [], 'Experience_Req': []}

In [13]:
for i in job_title:
    Data_Analyst['Job_Title'].append(i.text)
print(len(Data_Analyst['Job_Title']))

for k in job_location:
    Data_Analyst['Job_Location'].append(k.text)
print(len(Data_Analyst['Job_Location']))

for j in company_name:
    Data_Analyst['Company_Name'].append(j.text)
print(len(Data_Analyst['Company_Name']))

for h in experience_req:
    Data_Analyst['Experience_Req'].append(h.text)
print(len(Data_Analyst['Experience_Req']))

20
20
20
20

In [14]:
df=pd.DataFrame(Data_Analyst)
df=df.iloc[0:10]
df

,Job_Title,Job_Location,Company_Name,Experience_Req
0,Senior Data Analyst - Data Lineage,Bangalore/Bengaluru,Opex Global Services,5-10 Yrs
1,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
2,Data analysts,Bangalore/Bengaluru,IBM India Pvt. Limited,3-5 Yrs
3,Excel VBA Jobs Bangalore | VBA data analyst Jobs,"Mysore/Mysuru, Coimbatore, Bangalore/Bengaluru",Mind Circus Innovation,0-1 Yrs
4,Data Analyst (2positions)//immediate Joiners//...,Bangalore/Bengaluru,Tech Mahindra Ltd.,4-8 Yrs
5,Business/Data Analyst - SSE/LA,Bangalore/Bengaluru,CGI Information Systems and Management Consult...,2-5 Yrs
6,Business Data Analyst,"Chennai, Bangalore/Bengaluru, Mumbai (All Areas)","dotSolved India Pvt., Ltd.",9-13 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-5 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-8 Yrs
9,Data Analyst - Category Demand Management (Rev...,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,1-4 Yrs

In [15]:
df.to_csv("Data_Analyst.csv")

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [17]:
from selenium import webdriver
import os
import pandas as pd
from time import sleep
import time 
import warnings
warnings.filterwarnings("ignore")

In [18]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [19]:
# Importing URL of Naukri Website.
url = "https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [21]:
requests.get(url)

In [20]:
# Getting URL through Webdriver.
driver.get(url)

In [22]:
# Creating Empty Sets.
Job_title = []
Job_location = []
Company_name = []
Job_description = []

In [23]:
# Finding the elements for titles.
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="f7c7e731-ed2e-463b-8892-b05f20e150cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="07d06a1a-9389-4eaf-b4f5-8ef46b06b935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="fc03b6ce-13dd-4f97-ae2d-6d78d2cb98e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="39aca4c7-753f-4c43-91ff-3359d4abdecc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="1a9ee2ff-918e-4d18-92b1-494cd464bf57")>]

In [24]:
# Finding Job_title through appending the text.
for i in titles:
    title=i.text
    Job_title.append(title)
Job_title[:10]

['Senior Data Scientist',
 'Immediate job opening - Senior Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Lead Data Scientist',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist - IBM Garage',
 'Deputy Manager - Datalabs (Data Scientist)',
 'Digital Enterprise Architect (Data Scientist)',
 'Data Scientist']

In [25]:
# Finding the elements for locations.
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="a0ce371a-51bf-4506-bc7c-cb2b4b9a93c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="e858add2-a177-45d1-8a8e-d97e61065abb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="2c04b785-6fc7-419e-b897-a911edd1ae1f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="0439e3de-3ecf-48ac-8647-d70b1ebac3a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="70ee9b3e-b7e1-4e7f-aa26-03f79c3d9d82")>]

In [26]:
# Finding Job_location through appending the text.
for i in locations:
    location=i.text
    Job_location.append(location)
Job_location[:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Bengaluru/Bangalore',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [27]:
# Finding the elements for Companies.
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="4ad819d9-264d-48f4-acd0-5cd7f9f35133")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="dfdd73d5-c38d-4c6d-8477-7226745bfc88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="6d83805a-b347-4c05-9980-6fe44d179975")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="772c654d-6817-405c-8c81-fb43e1768dc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0da285051ea499fa49051ab6c468ecdb", element="3194e3c9-b2b1-4287-b82e-70b9081cc2a9")>]

In [28]:
# Finding Company_name through appending the text.
for i in companies:
    company=i.text
    Company_name.append(company)
Company_name[:10]

['RedBus',
 'RedBus',
 'Fractal Analytics',
 'FICO',
 'Fractal Analytics',
 'TalkValley LLC',
 'IBM India Pvt. Limited',
 'HDFC LIFE INSURANCE COMPANY LIMITED',
 'Mphasis Limited',
 'IBM India Pvt. Limited']

In [29]:
# Finding the elements for Job_description and appending text.
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
urls=[i.get_attribute("href")for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")]
for url in urls[0:10]:
    try:
        
        driver.get(url)
        raw_description=driver.find_element_by_xpath("//section[@class='job-desc']/div[1]").text
        description=raw_description.replace("Contact Person","@@@@@")
        description= description.split("@@@@@")
        Job_description.append(description[0])
    except NoSuchElementException :
        Job_description.append("---")
# Reference taken from github that,to use in a way of for loop to get all urls of different job descriptions in one cell.

In [30]:
# Final Job_description.
Job_description[:5]

['---',
 '---',
 'Serve as primary technical lead on all phases of the projects from providing solutioning, experimentation and deployment.\nWilling to get your hands dirty with data analysis as well as be comfortable delegating tasks to junior members on the project team, thus providing technical guidance and oversight to the overall project.\nHands-on solutioning within the chosen AI platform to partner with both customer and internal data solution architects.\nMust Have\n8 years of experience delivering results from advanced analytics projects; with at least 2 years experience leading a project or large workstream\nExperience working on data analytics problems in commercial problems space such as pricing, supply chain, marketing or customer experience. Proven track record with building and deploying supervised classification, regression, deep learning and unsupervised clustering models and time series analysis.\n5 years of Knowledge and or experience with data transformations using SQL, leveraging SAS or SAS Viya platform.\nStatistical model building with 5 years of experience\nBasic understanding of machine learning models development in python and leveraging AWS.\nBachelors Degree in Engineering, Mathematics Analytics, Economics or Business\nNice to Have\n5 years of Knowledge and experience with SAS or SAS Viya platform\nExperience working with remote teams spread across the globe\nMachine Learning modelling experience\nPython programming to build ML models\nAWS or equivalent other cloud based services knowledge SAS EG\nExperience working in a data analytics COE or in an analytics consulting company',
 'Job Summary\nThe candidate should be a Cybersecurity Data Scientist with a background in machine learning for cybersecurity applications.\nHeShe will contribute, provide subject matter expertise in the area of cybersecurity for critical infrastructure systems.\n\nResearch, develop, design and implement machine learning algorithms for cyber threat detection in operational technology environments, under limited direction.\nIdentify data types to enable detection of cyber events.\nTest and validate developed algorithms on real operational data.\nIdentify, define, and scope complex data analytics problems in the cybersecurity domain.\nDevelop cross-domain strategies for increased network security and resiliency of the entire network.',
 'Position Description:\nThe Artificial Intelligence and Machine Learning (AIML) group at Fractal Analytics is actively involved in helping Fortune 500 companies by enabling them to discover how they can leverage their data using advanced and sophisticated AI/ML algorithms for which we are looking for Data Scientists with the capability to work on independent statistical and machine learning research/ projects. If you are a problem solver with a curiosity for exploring new techniques and technologies in AIML space, then we would like to talk with you.\nJob Responsibilities:\nAbility to understand a problem statement and implement analytical solutions & techniques independently with independently/proactively/thought-leadership\nWork with stakeholders throughout the organization to identify opportunities for leveraging company/client data to drive business solutions\nFast learner: ability to learn and pick up a new language/tool/ platform quickly\nConceptualize, design, and deliver high-quality solutions and insightful analysis\nConduct research and prototyping innovations; data and requirements gathering; solution scoping and architecture; consulting clients and client facing teams on advanced statistical and machine learning problems\nCollaborate and coordinate with different functional teams (engineering and product development) to implement models and monitor outcomes\nAbility to deliver AIML based solutions around a host of domains and problems, with some of them being: Customer Segmentation & Targeting, Propensity Modeling, Churn Modeling, Lifetime Value Estimation, Forecasting, Recommender Systems, Modeling Response to Incentives, Marketing Mix Optimization, Price Optimization\nExperience Required:\nMinimum 10+ years of experience in Machine Learning domain\nExpert level proficiency in at least one of R and Python\nAbility to create efficient solutions to complex problems. Strong skills in data-structures and ML algorithms\nExperience of working on end-to-end data science pipeline: problem scoping, data gathering, EDA, modelling, insights, visualizations, monitoring and maintenance\nProblem-solving: Ability to break the problem into small parts and applying relevant techniques to drive required outcomes\nIntermediate to advanced knowledge of machine learning, probability theory, statistics, and algorithms. You will be required to discuss and use various algorithms and approaches on a daily basis\nWe use regression, Bayesian methods, tree-based learners, SVM, RF, XGBOOST, time series modeling, dimensionality reduction, SEM, GLM, GLMM, clustering, Deep learning etc. on a regular basis. If you know few of them you are good to go\nGood to Have:\nExperience in one of the upcoming technologies like deep learning, NLP, image processing, recommender systems\nExperience of working in on one or more domains:\nCPG: pricing and promotion analytics, marketing analytics, trade promotions, supply chain management\nBFSI: cross-sell, up-sell, campaign analytics, treasury analytics, fraud detection\nHealthcare: medical adherence, medical risk profiling, EHR data, fraud-waste-abuse\nExperience in working with Linux computing environment and use of command line tools like sed/awk\nGood grasp on databases including RDBMS, NoSQL, MongoDB etc.']

In [31]:
# Creating DataFrame of Data_scientist_jobs.
Data_Scientist_Jobs = pd.DataFrame({})
Data_Scientist_Jobs['Job_Title'] = Job_title[:10]
Data_Scientist_Jobs['Job_Location'] = Job_location[:10]
Data_Scientist_Jobs['Company_Name'] = Company_name[:10]
Data_Scientist_Jobs['Job_Description'] = Job_description[:10]

In [32]:
# Final DataFrame.
Data_Scientist_Jobs

,Job_Title,Job_Location,Company_Name,Job_Description
0,Senior Data Scientist,Bangalore/Bengaluru,RedBus,---
1,Immediate job opening - Senior Data Scientist,Bangalore/Bengaluru,RedBus,---
2,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,Serve as primary technical lead on all phases ...
3,Lead Data Scientist,Bangalore/Bengaluru,FICO,Job Summary\nThe candidate should be a Cyberse...
4,Lead Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru, Mumbai ...",Fractal Analytics,Position Description:\nThe Artificial Intellig...
5,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,We are a group of tenured professors from Tier...
6,Data Scientist - IBM Garage,Bengaluru/Bangalore,IBM India Pvt. Limited,---
7,Deputy Manager - Datalabs (Data Scientist),Bangalore/Bengaluru,HDFC LIFE INSURANCE COMPANY LIMITED,Roles & Responsibilities\nDevelop end to end s...
8,Digital Enterprise Architect (Data Scientist),Bangalore/Bengaluru,Mphasis Limited,---
9,Data Scientist,Bangalore/Bengaluru,IBM India Pvt. Limited,---

In [33]:
df.to_csv("data_scientist_jobs.csv")

### Q3: In this question you have to scrape data using the filters available on the webpage to to scrape data for “Data Scientist” designation for first 10 job results along with their respective job-title, job-location, company_name, experience_required
1. The location filter to be used is “Delhi/NCR”
2. The salary filter to be used is “3-6” lakhs

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field
3. Then click the search button
4. Then apply the location filter and salary filter by checking the respective boxes
4. Then scrape the data for the first 10 jobs results you get
5. Finally create a dataframe of the scraped data

In [35]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [36]:
# URL of the Naukri website after searching.
url = 'https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&ctcFilter=3to6'

In [37]:
requests.get(url)

In [38]:
# Getting URL from webdriver.
driver.get(url)

In [39]:
# Creating Empty Sets.
Job_title = []
Job_location = []
Company_name = []
Experience_required = []

In [40]:
# Finding elements of titles from xpath.
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles[:4]

[<selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="dc778864-f6ba-419e-8148-f070cbdd8e5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="fad0ec42-4513-4944-aadc-c54b98f6b761")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="6b34148b-edd2-4106-b799-8805a97ab587")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="c8e98034-3ac9-4dc3-a90b-ee746315630c")>]

In [41]:
# Finding elements of locations by xpath.
locations = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
locations[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="e050bfe7-f82e-45fe-bf01-5d2e37c020ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="a7d476a3-5037-464f-a864-32c635358409")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="b81cfc08-7f05-4e47-8a9b-621293ca36ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="b0dbd334-0543-4fb4-b427-3e347cc5317a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="ca814a82-b752-42b1-aec8-bf1105784324")>]

In [42]:
# Finding elements of companies through xpath of html code.
companies = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="91c2fe88-8690-4c1b-89c0-d92daaf4d0a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="e3eb5c09-3d73-4591-859f-2b31d2a5811d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="d1b09ac2-3994-4712-9ac3-0abc584965c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="a7aebe2c-ca5a-4fed-94bf-e41009412474")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="4b5eb6c2-ddc6-467c-b252-a11e87e80a1b")>]

In [43]:
# Finding elements of experiences through xpath.
experiences = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experiences[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="c3e07b09-7faa-4ae1-b637-d7e6910e1985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="6df3ae06-20b3-46d6-9276-2eb1f53b0cd8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="e7b00156-2f4d-4af7-9571-2a259c23734a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="ea5d493d-dcf8-409c-852f-9d8a63d6a16a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="f14c0952f560c0c92427701343aea895", element="238668b8-a9c9-4504-9123-f4b2098dca01")>]

In [44]:
# Using for loop and appending the text into empty set Job_location to get Job_location.
for i in locations:
    location = i.text
    Job_location.append(location)
Job_location[:10]

['Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'New Delhi',
 'Noida(Sector-59 Noida)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram']

In [45]:
# Using for loop and appending the text into empty set Job_title.
for i in titles:
    Job_title.append(i.text)
Job_title[:10]

['Data analytics / Data scientist intern (work from Home)',
 'Data Scientist',
 'Chaayos is Looking For Data Scientist',
 'Junior Data Scientist',
 'We are hiring- Data Scientist +Python- Noida',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Analyst/Scientist Big Data, Statistical Techniques',
 'Business Analyst- Data Scientist']

In [46]:
# Using for loop and appending the text into empty set company_name.
for i in companies:
    company = i.text
    Company_name.append(company)
Company_name[:10]

['TalkValley LLC',
 'Fractal Analytics',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'R Systems International Ltd.',
 'RANDSTAD INDIA PVT LTD',
 'Inflexion Analytix Private Limited',
 'Milliman India Pvt Ltd',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'The Search House (A Div of JSD Search House Pvt. L td.)',
 'Wipro']

In [47]:
# Using for loop and appending the text into empty set Experience_required.
for i in experiences:
    experience = i.text
    Experience_required.append(experience)
Experience_required[:10]

['0-5 Yrs',
 '3-7 Yrs',
 '0-5 Yrs',
 '3-5 Yrs',
 '4-7 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-5 Yrs']

In [48]:
# Creating DataFrame of Jobs.
Jobs = pd.DataFrame({})
Jobs['Title'] = Job_title[:10]
Jobs['Location'] = Job_location[:10]
Jobs['Company_Name'] = Company_name[:10]
Jobs['Experience_Required'] = Experience_required[:10]

In [49]:
# Final DataFrame.
Jobs

,Title,Location,Company_Name,Experience_Required
0,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
1,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
2,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
3,Junior Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,3-5 Yrs
4,We are hiring- Data Scientist +Python- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",RANDSTAD INDIA PVT LTD,4-7 Yrs
5,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
6,Data Scientist,"Gurgaon/Gurugram, Delhi / NCR",Milliman India Pvt Ltd,2-5 Yrs
7,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
8,"Data Analyst/Scientist Big Data, Statistical T...",Gurgaon/Gurugram,The Search House (A Div of JSD Search House Pv...,2-7 Yrs
9,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs

In [50]:
df.to_csv("jobs.csv")

### Q4: Write a python program to scrape data for first 10 job results for Data scientist with designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field
3. Then click the search button
4. Then scrape the data for the first 10 jobs results you get in the above shown page
5. Finally create a dataframe of the scraped data.

In [52]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [53]:
# URL of the Glassdoor Website.
url = 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm'

In [54]:
requests.get(url)

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button
4. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company
5.Store the data in a dataframe

In [56]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [57]:
url = 'https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [58]:
# Getting URL from webdriver.chrome.
driver.get(url)

In [59]:
requests.get(url)

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses

In [61]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [62]:
# URL of the Flipkart Website.
url =  'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off'

In [63]:
requests.get(url)

In [64]:
# Getting into the URL by driver. 
driver.get(url)

In [65]:
#We can open with search button code but it was asking login.so,We used direct method to get into page url.
# Creating empty sets to append.
Brand = []
Product_description = []
Price = []
Discount = []

In [66]:
# Finding elements of three pages by xpath and appending text.
for i in range(0,3):
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
        
    description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in description:
        Product_description.append(i.text)
        
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        Price.append(i.text)
        
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
    for i in discount:
        Discount.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [67]:
# First 10 values of Brand variable.
Brand[:10]

['PIRASO',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'Singco',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Singco India',
 'PIRASO']

In [68]:
# First 10 values of Price variable.
Price[:10]

['₹237',
 '₹541',
 '₹621',
 '₹299',
 '₹249',
 '₹237',
 '₹404',
 '₹733',
 '₹209',
 '₹331']

In [69]:
# First 10 values of Product_descripition variable.
Product_description[:10]

['UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (53)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)']

In [70]:
# First 10 values of Discount variable.
Discount[:10]

['85% off',
 '₹258 off',
 '₹178 off',
 '88% off',
 '75% off',
 '85% off',
 '79% off',
 '₹166 off',
 '79% off',
 '87% off']

In [71]:
# Checking Brand variable.
Brand

['PIRASO',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'Singco',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Singco India',
 'PIRASO',
 'DEIXELS',
 'GANSTA',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PHENOMENAL',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'Singco India',
 'Singco India',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'Fravy',
 'ROZZETTA CRAFT',
 'NuVew',
 'ROYAL SON',
 'GANSTA',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'elegante',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'Singco',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Singco India',
 'PIRASO',
 'DEIXELS',
 'GANSTA',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PHENOMENAL',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'Singco India',
 'Singco India',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'Fravy',
 'ROZZETTA CRAFT',
 'NuVew',
 'ROYAL SON',
 'GANSTA',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'elegante',
 'PIRASO',
 'Fastrack',
 'Fastrack',
 'kingsunglasses',
 'Singco',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Singco India',
 'PIRASO',
 'DEIXELS',
 'GANSTA',
 'Fastrack',
 'PIRASO',
 'NuVew',
 'HIPPON',
 'ROZZETTA CRAFT',
 'Silver Kartz',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'PHENOMENAL',
 'Singco India',
 'PIRASO',
 'ROYAL SON',
 'ROYAL SON',
 'Singco India',
 'Singco India',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'hipe',
 'Fastrack',
 'Fravy',
 'ROZZETTA CRAFT',
 'NuVew',
 'ROYAL SON',
 'GANSTA',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'elegante']

In [72]:
# Creating DataFrame.
Sun_Glasses = pd.DataFrame({})
Sun_Glasses['Brand'] = Brand[:100]
Sun_Glasses['Product_Description'] = Product_description[:100]
Sun_Glasses['Price'] = Price[:100]
Sun_Glasses['Discount'] = Discount[:100]

In [73]:
# Lengths of the all created variables.
print(len(Product_description),len(Price),len(Brand),len(Discount))

120 120 120 120

In [74]:
# Final DataFrame.
Sun_Glasses

,Brand,Product_Description,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹541,₹258 off
2,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹621,₹178 off
3,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
4,Singco,Mirrored Aviator Sunglasses (53),₹249,75% off
...,...,...,...,...
95,HIPPON,UV Protection Wayfarer Sunglasses (55),₹251,79% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹499,77% off
97,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹246,83% off
98,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
99,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹399,80% off

In [75]:
df.to_csv("flipkart_sunglasses.csv")

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace

1. Rating 
2. Review_summary 
3. Full review
- You have to scrape this data for first 100 reviews

In [77]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [78]:
# URL of the Flipkart website.
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'

In [79]:
requests.get(url)

In [80]:
driver.get(url)

In [81]:
# Creating empty sets for Defined variables.
Rating = []
Review_summary = []
Full_review = []

In [82]:
# Change the button through driver by xpath.
Change_button = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")

In [83]:
# Clicking the change_button.
Change_button.click()

In [84]:
# Finding elements of rating,review_summary and full_review through driver by xpath.
# Using for loop and appending the text function to all defined variables.
for i in range(0,10):
    rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        Rating.append(i.text)
        
    review_summary = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in review_summary:
        Review_summary.append(i.text)
        
    full_review = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in full_review:
        Full_review.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']/span[1]")

In [85]:
# Checking rating of first 10 values.
Rating[:10]

['5', '5', '5', '5', '5', '4', '5', '5', '5', '5']

In [86]:
# Checking review_summary of first 10 values.
Review_summary[:10]

['Brilliant',
 'Perfect product!',
 'Great product',
 'Worth every penny',
 'Fabulous!',
 'Good choice',
 'Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Worth every penny']

In [87]:
# Checking full_review of first 10 values.
Full_review[:10]

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE']

In [88]:
# Creating DataFrame of Apple_Ratings.
Apple_Ratings = pd.DataFrame({})
Apple_Ratings['Ratings'] = Rating
Apple_Ratings['Review_Summary'] = Review_summary
Apple_Ratings['Full_Review'] = Full_review

In [89]:
# Final DataFrame.
Apple_Ratings

,Ratings,Review_Summary,Full_Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,4,Good choice,So far it’s been an AMAZING experience coming ...
96,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
97,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
98,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

In [90]:
df.to_csv("ratings.csv")

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [92]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [93]:
# URL of the Flipkart website.
url = 'https://www.flipkart.com/'

In [94]:
requests.get(url)

In [95]:
driver.get(url)

In [97]:
# Using search code we find element by xpath and searching the word of sneakers.And clicking using click() function.
search_bar = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_bar.click()
search_bar.send_keys('sneakers')

In [98]:
# Creating Empty sets .
Brand = []
Product_Description = []
Price = []
Discount = []

In [100]:
# Finding elements brand,product_description,price and discount by xpath.
for i in range(0,3):
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
        
    product_description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_description:
        Product_Description.append(i.text)
        
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in price:
        Price.append(i.text)
        
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]")
    for i in discount:
        Discount.append(i.text)
    driver.find_element_by_xpath("//a[@class='_1LKTO3']")

In [101]:
# Checking 10 values of Brand.
Brand[:10]

['Chevit',
 'India hub',
 'CALCADOS',
 'Shoes Bank',
 'Robbie jones',
 'KULP',
 'ORICUM',
 'PEHANOSA',
 'Alfiya',
 'Stefano Rads']

In [102]:
# Checking 10 values of product_description.
Product_Description[:10]

['Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo pack of 2 casual sneaker shoes for men Sneakers F...',
 'Sneakers For Men',
 'Shoes in Black Color Party wear/Outdoor/Casual Shoes Fo...',
 'casual for men (blue 06) Sneakers For Men',
 'Sneakers For Men',
 'Sneakers Sneakers For Men']

In [103]:
# Checking 10 values of Price.
Price[:10]

['₹448',
 '₹389',
 '₹748',
 '₹349',
 '₹474',
 '₹399',
 '₹377',
 '₹499',
 '₹377',
 '₹242']

In [104]:
# Checking 10 values of discount.
Discount[:10]

['70% off',
 '87% off',
 '62% off',
 '65% off',
 '52% off',
 '60% off',
 '62% off',
 '50% off',
 '62% off',
 '65% off']

In [105]:
# Creating DataFrame of Sneakers_Info.
Sneakers_Info = pd.DataFrame({})
Sneakers_Info['Brand'] = Brand[:100]
Sneakers_Info['Product_Description'] = Product_Description[:100]
Sneakers_Info['Price'] = Price[:100]
Sneakers_Info['Discount'] = Discount[:100]

In [106]:
# Final DataFrame.
Sneakers_Info

,Brand,Product_Description,Price,Discount
0,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹448,70% off
1,India hub,White Sneaker For Men's/Boy's Sneakers For Men,₹389,87% off
2,CALCADOS,Sneakers For Men,₹748,62% off
3,Shoes Bank,Sneakers For Men,₹349,65% off
4,Robbie jones,Combo pack of 2 casual sneaker shoes for men S...,₹474,52% off
...,...,...,...,...
95,Birde,Acrux IDP Sneakers For Men,₹283,43% off
96,ASTEROID,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
97,HOTSTYLE,Combo Pack of 2 Casual Shoes Sneakers For Men,₹283,43% off
98,restinfoot,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹379,62% off
99,Chevit,Sneakers For Men,₹473,73% off

In [107]:
df.to_csv("sneakers.csv")

### Q9: Go to the link - https://www.myntra.com/shoes. Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” and scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [109]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [110]:
# URL of the myntra website.
url = 'https://www.myntra.com/shoes'

In [111]:
driver.get(url)

In [112]:
# To put the Price filter
price_btn=driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]/label/div')
price_btn.click()

In [113]:
# To put the colour filter
colour_button=driver.find_element_by_xpath('//li[@class="colour-listItem"]/label/div')
colour_button.click()

In [114]:
# Craeting empty set.
Brand = []
Description = []
Price = []

In [115]:
# Finding elements of brand,description,price through driver by xpath.
# Using for loop and appending text to empty sets.
for i in range(0,2):
    brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        Brand.append(i.text)
        
    description = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in description:
        Description.append(i.text)
        
    price = driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in price:
        Price.append(i.text)
        
    driver.find_element_by_xpath("//a[@rel='next']")

In [116]:
# Checking 10 values of Brand.
Brand[:10]

['Nike',
 'Nike',
 'Skechers',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'Nike',
 'UNDER ARMOUR']

In [117]:
# Checking 10 values of description.
Description[:10]

['Men ZOOM FREAK 2 Basketball',
 'Unisex COSMIC UNITY Basketball',
 'Men GO RUN 7+ Running Shoes',
 'Men JORDAN DELTA Basketball',
 'AIR ZOOM PEGASUS Running Shoes',
 'Women PEGASUS 37 Running Shoes',
 'Men KD13 EP Basketball Shoes',
 'Men JOYRIDE Running Shoes',
 'Women REACT Running Shoes',
 'HOVR Sonic 3 Running Shoes']

In [118]:
# Checking 10 values of Price.
Price[:10]

['Rs. 7206Rs. 10295(30% OFF)',
 'Rs. 11470Rs. 13495(15% OFF)',
 'Rs. 9999',
 'Rs. 12495',
 'Rs. 11495',
 'Rs. 6996Rs. 9995(30% OFF)',
 'Rs. 12995',
 'Rs. 10496Rs. 14995(30% OFF)',
 'Rs. 8396Rs. 11995(30% OFF)',
 'Rs. 7699Rs. 10999(30% OFF)']

In [119]:

#Creating into a Data Frame.
Sneakers_Info = pd.DataFrame({})
Sneakers_Info['Brand_name'] = Brand
Sneakers_Info['Description'] = Description
Sneakers_Info['Price'] = Price

In [120]:
# Final Scraped Data Frame.
Sneakers_Info

,Brand_name,Description,Price
0,Nike,Men ZOOM FREAK 2 Basketball,Rs. 7206Rs. 10295(30% OFF)
1,Nike,Unisex COSMIC UNITY Basketball,Rs. 11470Rs. 13495(15% OFF)
2,Skechers,Men GO RUN 7+ Running Shoes,Rs. 9999
3,Nike,Men JORDAN DELTA Basketball,Rs. 12495
4,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
...,...,...,...
95,RAPAWALK,Wide Width Leather Oxfords,Rs. 8850
96,Heel & Buckle London,Women Peep Toe Heels,Rs. 7192Rs. 8990(20% OFF)
97,FILA,Women Sneakers Casual Shoes,Rs. 7999
98,Ruosh,Men Formal Leather Brogues,Rs. 7490
99,Cole Haan,Women Leather Sneakers,Rs. 7699Rs. 10999(30% OFF)

### Q10: Go to webpage https://www.amazon.in/
1. Enter “Laptop” in the search field and then click the search icon.
2. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price

In [121]:
Path = r"C:\Users\Devu\Downloads\chromedriver_win32\chromedriver"
driver=webdriver.Chrome(Path)

In [123]:
# URL of Amazon website.
url = 'https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031&dc&qid=1611511805&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17'

In [124]:
# Getting URL  by webdriver.
driver.get(url)

In [125]:
# Finding element of i7-button to filter by xpath and click the i7_button.
i7_button = driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span/a")
i7_button.click()

In [126]:
#To put the filter for Intel core i9
i9_button=driver.find_element_by_xpath("//li[@aria-label='Intel Core i9']/span/a")
i9_button.click()

In [127]:
# Creating empty sets
Title = []
Rating = []
Price = []

In [128]:
# Finding elements of title through driver by xpath.
title = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
title[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="a20f4221-b606-43ac-b922-b300b06e44d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="57acc5af-4995-4fac-a61a-51535588970c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="55ae9b1f-51b9-4a2e-b52a-331a0834b9b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="a1f8bb60-a9e6-4454-bd2b-153aabefc7f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="093bc4c4-b5e7-4496-96c4-5f770e267493")>]

In [129]:
# Using for loop and appending the text to Title.
for i in title:
    Title.append(i.text)
Title[:4]

['ASUS ZenBook Flip S OLED, Intel Evo Core i7-1165G7 11th Gen, 13.3-inch UHD Touch Thin and Light 2-in-1 Laptop (16GB/1TB SSD/Windows 10/Office 2019/Iris X Graphics/Jade Black/1.2 kg), UX371EA-HL701TS',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'HP 14 Thin & Light 14" (35.56cms) FHD Laptop (11th Gen Intel i7-1165G7/8GB/512GB SSD/Windows 10/MS Office 2019/Alexa Built-in/Pale Gold/1.47 kg), 14s-dr2007TU']

In [130]:
# Finding elements of price through driver by xpath.
price = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
price[:5]

[<selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="391afc77-b4bb-4a20-bdbe-0f84c5a119e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="aea45066-6b1c-4201-838b-86f6b258c133")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="8c4b31e3-d7c3-448b-a427-fdbe08cc7c6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="d9e9421e-f881-4170-95e9-d2c3f9dfd8ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="1cba1fe8286bf24268135bea304b9879", element="8b7e917d-290d-406f-985e-fe5bad6a7f4f")>]

In [131]:
# Using for loop and appending the text to Price empty set.
for i in price:
    Price.append(i.text)
Price[:4]

['1,45,490', '54,999', '84,990', '89,000']

In [132]:
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#locating Ratings
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")#collecting urls of all the laptop
UR=[]
for i in urls[:10]:
    UR.append(i.get_attribute('href'))#getting the url of first 10 laptops
for url in UR:#loop for every laptop in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")#locating the ratingd link
        rate.click()                                                      #click the rating link found
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")#locating the rating
        Rating.append(rating.text)#appending the rating in Rating.
        
    except NoSuchElementException   as e:
        Rating.append("NO rating") # Used to get if there is no rating.

In [134]:
# Final Rating.
Rating

['4.6 out of 5',
 '4.4 out of 5',
 '4.5 out of 5',
 '4.7 out of 5',
 '4.1 out of 5',
 '3.1 out of 5',
 '3.8 out of 5',
 '4.2 out of 5',
 '4.3 out of 5',
 'NO rating']

In [135]:
# Creating DataFrame.
Laptop_Amazon = pd.DataFrame({})
Laptop_Amazon['Title'] = Title[:10]
Laptop_Amazon['Rating'] = Rating[:10]
Laptop_Amazon['Price'] = Price[:10]

In [136]:
# Final DataFrame.
Laptop_Amazon

                                               Title        Rating     Price
0  ASUS ZenBook Flip S OLED, Intel Evo Core i7-11...  4.6 out of 5  1,45,490
1  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    54,999
2  HP Pavilion (2021) Thin & Light 11th Gen Core ...  4.5 out of 5    84,990
3  HP 14 Thin & Light 14" (35.56cms) FHD Laptop (...  4.7 out of 5    89,000
4  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...  4.1 out of 5    86,990
5  Life Digital Laptop 15.6-inch (39.62 cms) (Int...  3.1 out of 5    26,990
6  ASUS ROG Zephyrus Duo 15, 15.6" 4K UHD, Intel ...  3.8 out of 5  2,69,990
7  Lenovo Yoga 7 11th Gen Intel Core i7 14" (35.5...  4.2 out of 5    97,990
8  Lenovo IdeaPad Gaming 3 10th Gen Intel Core i7...  4.3 out of 5    77,990
9  (Renewed) Dell G7 7500 15.6inch FHD 300 Hz Dis...     NO rating  1,70,587

In [137]:
df.to_csv("laptops.csv")